/* App.css */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1c1c1c;
  color: #fff;
}

.map-container {
  flex: 2;
  height: 60%; 
}

.bottom-container {
  flex: 1;
  display: flex;
  height: 40%; 
}

.logs-section {
  flex: 1;
  overflow-y: auto;
  background-color: #2a2a2a;
  padding: 10px;
}

.chart-section {
  flex: 1;
  background-color: #1c1c1c;
  padding: 10px;
  overflow-y: auto;
}
